.version.index{color:#00000A;background-color:#417465;}#page{(max-width: 1024px)
body, html {
/* height: 100%!important; */
overflow: auto!important;
max-height: 100% !important;
}}body{position:relative;min-width:1920px;}